html.dark {
  @apply bg-primaryDark;

  .header--search-bar,
  .history--search-bar {
    .ant-input {
      background-color: #303033 !important;
      color: #ffffffd1;
      &::placeholder {
        color: #f2f2f2;
      }
    }
  }

  .ant-select-dropdown {
    @apply bg-headerDark shadow-zinc-700;

    .ant-select-item {
      color: #ffffffd1 !important;
      &:hover {
        @apply bg-darkHover;
      }
    }

    .rc-virtual-list-scrollbar-thumb {
      background-color: #f2f2f2 !important;
    }
  }

  .ant-select {
    color: #ffffffd1 !important;
  }

  .ant-select-selection-item {
    color: #ffffffd1 !important;
  }
  .ant-select-selector {
    background-color: #18181c !important;
    color: #ffffffd1 !important;
  }
  .ant-select-dropdown .ant-select-item:hover {
    color: #ffffffd1 !important;
  }
  .ant-select-dropdown .ant-select-item-option-selected {
    color: #303033 !important;
  }
  
  .ant-tooltip-inner {
    @apply bg-lightTitle;
  }
}
